
* {
  font-family: Raleway;
}


html, body {
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  }

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.grid-container{
  display: grid; 
  width: 400px;
  height:400px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  border: 5px red solid;
  margin-top: 50px;
  margin-bottom: 100px;
}

.grid-item {
  border: 1px red solid;
  background-color: rgb(211, 209, 209);
  }

#restart-button{
  padding: 7px 60px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
