@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'rubik';
}

header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1rem;
 margin-top: 2rem;
 margin-inline: 5rem;

 button{
  margin-left: 2rem;
  height: 2.5rem;
  width: 7rem;
  border: none;
  color: white;
  background-color: hsl(0, 94%, 66%);
  border-radius: 5px;
  box-shadow: 1px 10px 8px -4px rgba(224,224,224,1); 
  cursor: pointer;
}
button:hover{
  background-color: white;
  color: hsl(0, 94%, 66%);
  border: 2px solid;
}

 #logo{
  align-self: center;
 }
 #menu{
  display: none;
 }

}
.mobile-nav-container{
  display: none;
}

nav{
  margin-left: auto;
  ul{
    svg{
      display:none;
    }
  }

}
nav li{
  list-style: none;
  display: inline-block;
  padding-inline: 2rem;
  
  
  a{
    text-decoration: none;
    color: rgb(75, 75, 75);
  }
  a:hover{
    color: hsl(0, 94%, 66%);
  }
}
.mobile-hr{
  display: none;
}

.tabs-hr{
  display: none;
}

.main{
  margin-top: 3rem;
  display: flex;
  padding-block: 3rem;
  padding-left: 3rem;
}

.text-container{
  padding: 3rem;

  h1{
    margin-top: 2rem;
    font-size: 3rem;
    padding-right: 1rem;
  }
  p{
    margin-top: 2rem;
    font-size: 1.2rem;
    padding-right: 10rem;
    margin-bottom: 2rem;
    color: rgb(153, 153, 153);
    line-height: 1.7rem;
  }
  button{
    height: 3rem;
    width: 10rem;
    margin-right: 2rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: .9rem;
    }
}

#chrome-button{
  background-color: hsl(231, 69%, 60%);
  color: white;
}
#chrome-button:hover{
  color: hsl(231, 69%, 60%);
  background-color: white;
  border: 2px solid;
  cursor: pointer;
}

#firefox-button{
  color: rgb(97, 97, 97);
  box-shadow: 1px 10px 8px -4px rgba(224,224,224,1); 
  background-color: rgb(240, 240, 240);

}
#firefox-button:hover{
  color: grey;
  background-color: white;
  border: 2px solid;
  cursor: pointer;
}

.bg-hero{
  position: relative;
  
  img{
    margin-right: 3rem;
  }
}

.purple-container{
  position: absolute;
  height: 330px;
  width: 500px;
  background-color: hsl(231, 69%, 60%);
  z-index: -1;
  right: 0;
  bottom: 0;
  border-radius: 150px 0 0 150px;
  
}
.purple-container2{
  position: absolute;
  height: 330px;
  width: 650px;
  background-color: hsl(231, 69%, 60%);
  z-index: -1;
  left: 0;
  bottom: 0;
  border-radius: 0 150px 150px 0;
  
}

.tab-features{
  position: relative;
  width: 100%;
  height: 450px;
}

.tabs{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 650px;
  margin-inline: auto;
  padding: 2rem;
  color: rgb(102, 102, 102);
  
}

.tabs p:hover{
  color: hsl(0, 94%, 66%);
  cursor: pointer;
}

#tab-hr{
 color: grey;
 width: 650px;
 margin-bottom: 3rem;
 margin-inline: auto;
 opacity: 30%;
}

.selected-tab{
  position: absolute;
  height: .25rem;
  width: 14rem;
  background-color: rgb(235, 94, 0);
  bottom: 0;
  left: 0;
  border-radius: 20px;
  transition: transform 0.3s ease;
  
}

.tabs-section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.tab-container{
  width: 500px;
  margin-left: 5rem;

  h1{
    margin-top: 2rem;
    font-size: 2.5rem;
    padding-right: 1rem;
  }
  p{
    margin-top: 2rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: rgb(153, 153, 153);
    line-height: 1.7rem;
  }

}

.more-info{
  height: 3rem;
  width: 7rem;
  margin-right: 2rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: .9rem;
  background-color: hsl(231, 69%, 60%);
  color: white;
  }
 .more-info:hover{
    color: hsl(231, 69%, 60%);
    background-color: white;
    border: 2px solid;
    cursor: pointer;
  }

.features{
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    font-size: 1.8rem;
  }

}

.notes{
  margin-top: 1.5rem;
  width: 500px;
  text-align: center;
  line-height: 1.5rem;
  color: rgb(126, 126, 126);
}

.browser-cards{
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;  
  height: 350px;
  width: 250px;
  box-shadow: 1px 4px 23px 5px rgba(204,204,204,1);
  margin-top: 3rem;
  border-radius: 15px;
  margin-inline: 1rem;


  img{
    margin-top: 3rem;
  }
}

.add-browser{
  margin-top: 2rem;
}
.version{
  margin-top: .5rem;
  color: rgb(146, 146, 146);
  font-size: .9rem;
}
.card button{
  margin-top: 3rem;
  height: 3rem;
  width: 13rem;
  color: white;
  background-color: hsl(231, 69%, 60%);
  border-radius: 10px;
  border: none;
}
.card button:hover{
  color: hsl(231, 69%, 60%);
  background-color: white;
  border: 2px solid;
  cursor: pointer;
}

#firefox-card{
  margin-top: 5rem;
}
#opera-card{
  margin-top: 7.5rem;
}

#extensions{
  margin-top: 5rem;
}

#faq{
  width: 500px;
  margin-inline: auto;
}

.accordion{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-block: 4rem;

  button{
    margin-top: 2rem;
  }
}

.question{
  font-size: 1.1rem;
  margin-block: 1rem;
  cursor: pointer;
}
.answer{
  max-height: 0;
  overflow: hidden;
  color: rgb(119, 119, 119);
  line-height: 1.5rem;

}

.answer.show{
  height: auto;
  max-height: 9999px;

}

span{
  float: right;
}

.accordion-hr{
  color: grey;
  margin-bottom: 1rem;
  opacity: 20%;
  width: 500px;
}

footer{
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: hsl(231, 69%, 60%);
  height: 400px;
  

  #number-joined{
    margin-block: 2.5rem;
  }
  h2{
    margin-bottom: 3rem;
    font-size: 1.7rem;
    width: 400px;
    text-align: center;
  }
  input{
    height: 2.5rem;
    width: 15rem;
    border: none;
    border-radius: 5px;
    margin-right: 1rem;
    
  }

  button{
    height: 2.5rem;
    width: 7rem;
    color: white;
    background-color: hsl(0, 94%, 66%);
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  button:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 94%, 66%);
    font-weight: 700;
    border: 2px solid;
   
  }
  
}
.inputField::placeholder{
    padding-left: 2rem;
}

.inputForm{
  display: flex;
}
.inputField{
  position: relative;
}

.inputField input.error{
  border: 2px solid red;
}

.error-icon{
  position: absolute;
  right: 10%;
  bottom: 55%;
}
.error-message{
  display: flex;
  font-size: .8rem;
  background-color: hsl(0, 94%, 66%);
  height: 1.5rem;
  width: 15rem;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
aside{
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: hsl(229, 31%, 21%);
  height: 70px;
  
  svg{
    align-self: center;
    margin-left: 7rem;
    cursor: pointer;

  }
  h3{
      margin-left: 5rem;
      font-weight: 400;
      font-size: .8rem;
  }
  h3:hover{
    cursor: pointer;
    color: hsl(0, 94%, 66%);
  }
  .footer-menu{
    display: flex;
  }
}
.text-logo{
  fill: white;
}
.media{
  margin-left:auto;
  margin-right: 10rem;
  svg{
    margin-left: 2rem;
  }
  .icons:hover{
    fill: red;
    cursor: pointer;
  }
}
@media screen and (max-width:1300px){

  header{
    margin-inline: 1.5rem;
  }

  nav li a{
    
  }


  .text-container{
    padding: 0;
    p{
      font-size: 1.2rem;
      padding: 0;
    }
    button{
      height: 2.5rem;
      width: 8rem;
      font-size: .8rem;
      margin: 1rem;
    }

  }
  .bg-hero{
    width: 100%;
   
    img{
      width: 100%;
      min-width: 500px;
    }
    .purple-container{
      height: 200px;
      width: 400px;
      bottom: 15%;
    }

  }
  .tabs-section{
    img{
      width: 100%;
    }
  }
  .purple-container2{
    height: 300px;
    width: 400px;
    bottom: 10%;
  }
  .media{
    margin-right: 1rem;
  }
  aside svg{
    margin-right: 1rem;
    margin-left: 2rem;
  }

}

@media screen and (max-width:768px){

  header{
    margin-inline: 0;
    justify-content: space-around;
    width: 100%;

    nav{
      position: absolute;
      /* display: none; */
      height: 100vh;
      background-color: hsl(229, 31%, 21%);
      opacity: 90%;
      right: 0;
      bottom: 0;
      width: 100%;
      z-index: 1;
     

      #modal-icons{
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 8rem;
        
        svg{
          transform: scale(1.5);
          margin-inline: 2rem;
        }
        
      }

      button{
        display: block;
        margin-inline: auto;
        margin-top: 3rem;
        height: 3rem;
        width: 70%;
        background-color: hsl(229, 31%, 21%);
        border: 3px solid;
        font-size: 1.3rem;
        box-shadow: none;
      }
      button:hover{
        color: hsl(229, 31%, 21%);
        border: none;
      }

      .mobile-hr{
        display: block;
        width: 70%;
        margin-top: 1rem;
        opacity: 70%;
      }
      ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;


        .mobile-nav-container{
          display: flex;
          justify-content: space-between;
         
          width:70%;
          margin-bottom: 2rem;
          svg{
            display: block;
            transform: scale(1.2);

            
    
            circle{
              fill: white;
            }
            .img-logo{
              fill: hsl(229, 31%, 21%);
            }
          }

        }
        
      }


      ul li{
        display: flex;
        flex-direction: column;
        a{
          margin-top: 2rem;
          color: rgb(255, 255, 255);
          font-size: 1.7rem;
        
        }
      } 

    }
    button{
      display: none;
    }
    #logo{
      transform: scale(1.2);
    }
    #menu{
      display: block;
      transform: scale(1.2);
    }

  }

  .main{
    flex-direction: column;
    padding: 0;

    .buttons{
      display: flex;
      justify-content: center;
    }
    
    .bg-hero{
      display: flex;
      justify-content: center;
      order: -1;
      width: 100%;
      
      
      img{
        transform: scale(.9);
        width: 100%;
        margin: 0;
      }
      .purple-container{
        height: 230px;
        width: 350px;
        bottom: 0;
      }
    }
    
    .text-container {
      margin-top: 2rem;
      width: 100%;
      padding: 0;

      h1{
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
      }
      p{
        text-align: center;
        padding-inline: 3.5rem;
      }
      #chrome-button{
        margin-left: 3rem;
        margin-bottom: 5rem;
      }

    }

  }
  .features{
    width: 100%;
    margin-inline: auto;
    p{
      padding-inline: 4rem;
    }
    .tabs{
      flex-direction: column;
      font-size: 1.2rem;
      text-align: center;
      width: 100%;
      padding: 0;

      p{
        margin-bottom: 2rem;

      }
    }

  }
  #tab-hr{
    width: 80%;
  }
  
  .tabs-hr{
    display: block;
    margin-bottom: 1rem;
    opacity: 30%;
    width: 80%;
    margin-inline: auto;
  }
  .selected-tab{
    left: 25%;
    width: 50%;
  }
  #selected-tab1{
    bottom: 66%;
  }
  #selected-tab2{
    bottom: 33%;
  }
  #selected-tab3{
    bottom: 0;
  }

  .tab-features{
    margin-bottom: 15rem;
    height: 380px;
    img{
      transform: scale(.7);
      margin-inline: auto;
     }
     .purple-container2{
      height: 250px;
      width: 350px;
      bottom: 5;
     }
    
  } 

  .tabs-section {
    flex-direction: column;

    img{
      width: 100%;
      transform: scale(.9);
      margin-top: 2rem;
    }

    .tab-container{
      text-align: center;
      margin-top: 2rem;
      margin-left: 0;
      .more-info{
        margin-inline: auto;
      }
    }
   
  }
  .browser-cards{
    flex-direction: column;
    width: 100%;
    .card{
      width: 70%;
      height: 380px;
      margin-inline: auto;
    }
  }
  #extensions{
    margin-top: 9rem;
  }
  #faq{
    width: 80%;
    
    h1{
      text-align: center;
      font-weight: 600;
    }
    .accordion{
      width: 100%;
      .item{
        width: 100%;
        .accordion-hr{
          width: 100%;
        }
      }
    }
  }
  footer{
    height: 800px;
  }
  .inputForm{
    flex-direction: column;
    width: 100%;
 
    
    .inputField{
      display: flex;
      flex-direction: column;

      .error-icon{
        margin-right: 1rem;
      }
     
      .error-message{
         width: 80%;
         margin-inline: auto;
      }
    }
    
    input{
      width: 80%;
      height: 3rem;
      margin-inline: auto;
      
        
    }
    button{
      width: 80%;
      height: 3rem;
      margin-inline: auto;
      margin-top: 2rem;
    }
  }
  aside{
    display: flex;
    flex-direction: column;
    height:400px;

    svg{
      margin-left: 0;
      margin-top: 3rem;
      transform: scale(1.2);
    }

   .footer-menu{
    flex-direction: column;
    text-align: center;
    
    h3{
      margin-left: 0;
      margin-top: 3rem;
      font-size: 1.2rem;
    }
   }
   .media{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 6rem;
    
    #facebook{
      margin-left: 0;
    }
   }
  }


}
