body{
    display: flex;
    justify-content: center;
}
input{
    height: 1.5rem;
    width: 10rem;
    margin-right: 1rem;
    margin-top: 5rem;
}
.button{
    height: 1.7rem;
    width: 6rem;
}
#remove-button{
    margin-right: 1rem;
}