body{
    height: 100vh;
    display: flex;
    justify-content: center;
   
}

.inputTask{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 1rem;
    margin-top: 1rem;
    list-style: none;
}