
body{
    background-color: purple;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.todo-input{
    height: 2rem;
    width: 15rem;
    border: none;
    border-radius: 10px;
}

.todo-btn{
    height: 2.1rem;
    width: 5rem;
    margin-left: 1rem;
    border: none;
}

.Todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    margin-top: 1rem;
    background-color: rgb(39, 39, 133);
    border: none;
    border-radius: 10px;
    color: white;
    
    p{
        margin-left: 1rem;
    }
    button{
        margin-right: 1rem;
        padding: .5rem;
        border: none;
        border-radius: 20px;
    }
}